# SC4SNMP compose env file
SC4SNMP_IMAGE={{SC4SNMP_IMAGE}}
SPLUNK_HEC_PROTOCOL={{SPLUNK_HEC_PROTOCOL}}
SPLUNK_HEC_HOST={{SPLUNK_HEC_HOST}}
SPLUNK_HEC_PORT={{SPLUNK_HEC_PORT}}
SPLUNK_HEC_PATH={{SPLUNK_HEC_PATH}}
SPLUNK_HEC_TOKEN_FILE=/opt/sc4snmp/secrets/hec_token
SPLUNK_HEC_INSECURESSL={{SPLUNK_HEC_INSECURESSL}}
SPLUNK_SOURCETYPE_TRAPS=sc4snmp:traps
SPLUNK_SOURCETYPE_POLLING_EVENTS=sc4snmp:event
SPLUNK_SOURCETYPE_POLLING_METRICS=sc4snmp:metric
SPLUNK_HEC_INDEX_EVENTS=netops
SPLUNK_HEC_INDEX_METRICS=netmetrics
SPLUNK_LOG_INDEX=em_logs
SPLUNK_CONNECTOR_METRICS_INDEX=em_metrics
TRAPS_PORT={{TRAPS_PORT}}
DNS_SERVER={{DNS_SERVER}}
INVENTORY_FILE_ABSOLUTE_PATH=/opt/sc4snmp/config/inventory.csv
SCHEDULER_CONFIG_FILE_ABSOLUTE_PATH=/opt/sc4snmp/config/scheduler-config.yaml
TRAPS_CONFIG_FILE_ABSOLUTE_PATH=/opt/sc4snmp/config/traps-config.yaml
SECRET_FOLDER_PATH=/opt/sc4snmp/secrets
LOCAL_MIBS_PATH=/opt/sc4snmp/mibs
