.click_button{
    cursor: alias;
    text-decoration: underline;
}

#advisory_link_table table th {
    background-color: #5799e1 !important;
    color: #000;
}

#affected_devices_table table th {
    background-color: #5799e1 !important;
    color: #000;
}