#field1 .select2-container{ min-width: 100px; }
#field2 .select2-container{ min-width: 100px; }
#field3 .select2-container{ min-width: 100px; }
#field4 .select2-container{ min-width: 100px; }
#field5 .select2-container{ min-width: 100px; }
#field6 .select2-container{ min-width: 100px; }
#field1 { width:175px; }
#field2 { width:175px; }
#field3 { width:175px; }
#field4 { width:175px; }
#field5 { width:175px; }
#field6 { width:175px; }

div[id^='realtime_view'] {
     display: none;
}

